/obj/
/Library/
/Temp/
/Logs/
.vs
/
*.unitypackage
crashlytics-build.properties
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
